// Menu
$Main-color: #1A1A1A;
$Nav-Menu-color: #2D2D2D;
$Accent-color: #9126CF;
$Text-color: #B2B2B2;
$White-color: #FFFFFF;
$Frame-color: #535353;
$Constructor-color: #7E7C7C;

// Elements
$Data-color-Today: #1D8825;
$Difficult-color-Easy: #1D6C88;
$Xp-color: #4A1D88;
$Rubin-color: #881D1D;

// Text
$Main-text-size: 40px;
$Nav-text-size: 20px;
$Heading-text-size: 15px;
$Button-text-size: 13px;
$Description-text-size: 12px;

// Margins
$Border-radius: 5px;
$Margin-text: 12px;





